<?xml version="1.0"?>
<launch>
  <node name="mono_nir_calib_manual_" pkg="mono_nir_calib_manual" type="mono_nir_calib_manual_node" output="screen"> 
		<param name="x_launch" value="-0.329607044535278"/>
		<param name="y_launch" value=" 0.022971750497383"/>
		<param name="z_launch" value=" 0.170620478310730 "/>
		<param name="rx_launch" value="-1.610"/>
		<param name="ry_launch" value="0.004"/>
		<param name="rz_launch" value="-1.541"/>

</node>

</launch>
